/*CSS DOCUMENT */


body {
	background-color: #fafafa;
	color: #333333;
	font-family: "bilo", sans-serif;
	font-weight: 500;
	font-style: normal;
}

div.container {
	max-width: 40em;
	margin: auto;
}

img {
	width: 100%;
}

figure {
	margin: 1em 0;
}

h1, h2, h3, h4, p, ul, ol, li {
	margin: 0; 
	padding:0; 
	font-size: 1em; 
	font-weight: normal;
}

h1 {
	font-size: 5em; 
	text-align: left;
	line-height: 0.8em;
	border-bottom: solid 6px #333333;
	padding-bottom: 0.1em;
}

h2 {
	font-size: 3em; 
	font-weight: bold;
	font-family: "bebas-neue", sans-serif;
	font-weight: 800;
	font-style: bold;
	padding-bottom: 0.3rem;
	border-bottom: solid 4px #ca94d8;
	margin-bottom: 0.5rem;
}

h3 {
	font-size: 2.25em; 
	font-family: "bebas-neue", sans-serif;
	font-weight: 800;
	margin-bottom: 0.25em;
	line-height: 0.8em;
}
h4{
	margin-bottom: 1em;
	font-size: 0.9em;
}
p {
	font-family: "bilo", sans-serif;
	font-weight: 500;
	font-style: normal;
	padding-bottom: 1rem;
}
.caslon {
	font-family: "adobe-caslon-pro", serif;
	font-style: normal;
	font-weight: 400;
	line-height: 0;
}
.baskerville {
	font-family: baskerville-urw, serif;
	font-style: normal;
	font-weight: 400;
}
